# Gradle files
.gradle/
build/
**/build/

# Local configuration (SDK path etc.)
local.properties

# IntelliJ / Android Studio
.idea/
*.iml

# Log files
*.log

# Captures & Native builds
captures/
.externalNativeBuild/
.cxx/

# OS specific files
.DS_Store
Thumbs.db