<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- Permissions -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HABSmainPage"
        tools:targetApi="31">
        <activity
            android:name=".PatientPrescriptionHistoryActivity"
            android:exported="false" />
        <activity
            android:name=".PrescriptionDetailActivity"
            android:exported="false" />
        <activity
            android:name=".CreatePrescriptionActivity"
            android:exported="false" /> <!-- Login -->
        <activity
            android:name=".LoginActivity"
            android:exported="false" /> <!-- Main Page (Launcher) -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- Sign Up -->
        <activity
            android:name=".SignUpActivity"
            android:exported="true" /> <!-- Login (alternative) -->
        <activity
            android:name=".Login"
            android:exported="true" /> <!-- Home Page -->
        <activity
            android:name=".HomePage"
            android:exported="true" /> <!-- Doctor Details -->
        <activity
            android:name=".DoctorDetailsActivity"
            android:exported="true" /> <!-- ✅ Appointment Booking Page -->
        <activity
            android:name=".AppointmentBookingActivity"
            android:exported="true" />
        <activity
            android:name=".TokenGenerationActivity"
            android:exported="true" />
        <activity
            android:name=".PaymentMethodActivity"
            android:exported="true" />
        <activity
            android:name=".PayFastWebViewActivity"
            android:exported="true" />
        <activity
            android:name=".PaymentReceiptActivity"
            android:exported="true" /> <!-- Google Maps API Key -->
        <activity
            android:name=".MyAppointmentsActivity"
            android:exported="true" />

        <activity
            android:name=".DocterCurrentTokenActivity"
            android:exported="true" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDOvI7B1rs0ZZhDUNVNmRs83xaYtx__hX0" />
    </application>

</manifest>